.content {
  padding: 12px;
  height: 800px;
  width: 100%;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;

  top: -103px;
}

.text-box {
  
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 16px;
  font-family: American Typewriter, serif;
  width: 45%;
  top: 15%;
  left: 50%;
}

#header {
  text-align: center;
  font-size: 3.5em;
}

#text {
  text-align: left;
  font-size: 1.5em;
}


.pic img{
  position: relative;
  width: 45%;
  max-width: 600px;
  left: 10%;
  margin-top:-25%;
  
}

