.carousel-control-prev, .carousel-control-next {
  width: 1%;
  /* visibility: hidden; */
}

.content {
  padding: 12px;
  overflow: auto; 
  width: 100%;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;

  top: -23px;
}

.my-titles{
  margin-top: 80px;
}

.my-titles p{
  text-align: center;
  font-family: American Typewriter, serif;
  font-size: 3rem;

}

/* when the width is bigger than height, and the width is longer than 1460px */
@media (orientation: landscape) and (min-width: 1460px){ 
  /*Landing*/
  #container {
    position: relative;
    font-family: American Typewriter, serif;
    top: 15%;
  }
  
  #right-column {
    background-color: white;
    float: left;
    width: 50%;
    display: block;
    height:inherit;
  }
  
  #header {
    text-align: center;
    font-size: 3.5rem;
  }
  
  #text {
    text-align: left;
    font-size: 1.6rem;
  }
    
  #left-column{
    float: left;
    width: 45%;
    height: inherit;
    text-align: center;
  }

  
  .pic img{
    position: relative;
    max-width: 500px;
  }
  
  /*Projects*/
  #project-container {
    position: relative;
    font-family: American Typewriter, serif;
  }
  
  #pleft-column {
    float: left;
    width: 50%;
    height:inherit;
    text-align: center;
  }
  
  #pright-column {
    float: right;
    width: 50%;
    display: block;
    height:inherit;
    text-align: center;
  }

  /*Projects-Cards*/
  .card {
    font-family: American Typewriter, serif;
    min-height: 300px;
  }

  .cardMainTitle{
    font-weight: bold;
    font-size: 2rem;
  }

  .cards{
    position: relative;
    overflow: auto;
  }

  .left-card{
    float: left;
    width: 45%;
  }

  .left-card img{
    max-width: 100%;
    width:auto;
    max-height: 200px;
  }

  .right-card{
    float: right;
    width: 50%;
    text-align: left;
  }

  .right-card p{
    width: 100%;
  }
}



/* when the width is bigger than height, and the width is less than 1460px */
@media (orientation: landscape) and (max-width: 1460px){ 
  /*Landing*/
  #container {
    position: relative;
    font-family: American Typewriter, serif;
    top: 15%;
  }
  
  #right-column {
    background-color: white;
    float: left;
    width: 50%;
    display: block;
    height:inherit;
  }
  
  #header {
    text-align: center;
    font-size: 3.7vw;
  }
  
  #text {
    text-align: left;
    font-size: 1.6vw;
  }
    
  #left-column {
    float: left;
    width: 45%;
    height:inherit;
    text-align: center;
  }
  
  .pic img{
    position: relative;
    width: 85%;
    max-width: 500px;
  }
  
  /*Projects*/
  #project-container {
    position: relative;
    font-family: American Typewriter, serif;
  }
  
  #pleft-column {
    float: left;
    width: 50%;
    height:inherit;
    text-align: center;
  }
  
  #pright-column {
    float: right;
    width: 50%;
    display: block;
    height:inherit;
    text-align: center;
  }

  /*Projects-Cards*/
  .card {
    font-family: American Typewriter, serif;
    min-height: 300px;
  }

  .cardMainTitle{
    font-weight: bold;
    font-size: 2rem;
  }

  .cards{
    position: relative;
    overflow: auto;
  }

  .left-card{
    float: left;
    width: 45%;
  }

  .left-card img{
    max-width: 100%;
    width:auto;
    max-height: 200px;
  }

  .right-card{
    float: right;
    width: 50%;
    text-align: left;
  }

  .right-card p{
    width: 100%;
  }
}

/* when the height is bigger than width, and the width is longer than 650px */
@media (orientation: portrait) and (min-width: 650px){ 
  /*Landing*/
  #container {
    position: relative;
    font-family: American Typewriter, serif;
    text-align: center;
  }

  #right-column{
    background-color: white;
  }

  #header {
    text-align: center;
    font-size: 3rem;
  }
  
  #text {
    text-align: left;
    font-size: 1rem;
  }
  
  .pic img{
    position: relative;
    width: 80%;
    max-width: 500px;
  }
  
  /*Projects*/
  #project-container {
    position: relative;
    font-family: American Typewriter, serif;
  }

  /*Projects-Cards*/
  .card {
    font-family: American Typewriter, serif;
  }

  .cardMainTitle{
    font-weight: bold;
    font-size: 2rem;
  }

  .cards{
    position: relative;
    overflow: auto;
  }

  .left-card{
    float: left;
    width: 45%;
  }

  .left-card{
    text-align: center;
  }

  .left-card img{
    max-width: 100%;
    width:auto;
    max-height: 200px;
  }

  .right-card{
    float: right;
    width: 50%;
    text-align: left;
  }

  .right-card p{
    width: 100%;
  }
}



/* when the height is bigger than width, and the width is less than 650px */
@media (orientation: portrait) and (max-width: 650px){ 
  #container {
    position: relative;
    font-family: American Typewriter, serif;
    text-align: center;
  }

  #right-column{
    background-color: white;
  }
  
  #header {
    text-align: center;
    font-size: 6vw;
  }
  
  #text {
    text-align: left;
    font-size: 3.7vw;
  }
  
  .pic img{
    position: relative;
    width: 80%;
    max-width: 500px;
  }
  
  /*Projects*/
  #project-container {
    position: relative;
    font-family: American Typewriter, serif;
  }

  /*Projects-Cards*/
  .card {
    font-family: American Typewriter, serif;
  }

  .cardMainTitle{
    font-weight: bold;
    font-size: 2rem;
  }

  .cards{
    position: relative;
    overflow: auto;
  }

  .left-card{
    text-align: center;
  }

  .left-card img{
    max-width: 100%;
    width:auto;
    max-height: 200px;
  }

  .right-card p{
    width: 100%;
  }
}




/*Contacts*/
/* when the width is less than 730px */
@media (max-width: 730px){ 
  .contacts { 
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .contacts ul { 
    position: relative; 
    float: left; 
    display: block; 
  }
  .contacts ul li { 
    position: relative; 
    display: block; 
    margin: 15px;
  }
  
  .contacts ul li img{
    width: 100px;
  }
  .contacts ul li p{
    text-align: center;
  }
}

/* when the width is more than 730px */
@media (min-width: 730px){ 
  .contacts { 
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .contacts ul { 
    list-style: none;
    position: relative; 
    float: left; 
    display: block; 
  }
  .contacts ul li { 
    position: relative; 
    display: inline-block; 
    
    margin: 15px;
  }
  
  .contacts ul li img{
    width: 100px;
  }
  .contacts ul li p{
    text-align: center;
  }
} 

